@import 'reset';

body {
  background: black;
  color: white;
  font-family: "Courier New";
  text-align: center;
}

.button {
  font-size: 150%;
  margin: 5%;
}

.row {
  margin-top: 1%;
  text-align: justify;
}

.title {
  font-size: 500%;
  text-align: center;
}

#prompt {
  margin: 5%;
}

#leftInput {
  margin-top: 5%;
  float: left;
}

#rightInput {
  margin-top: 5%;
  float: right;
}




